Microcontrollers-Receive-1.json
[
    {
        "id": "fbd36c31b09ebd79",
        "type": "tab",
        "label": "15.11.Microcontrollers-MQTT-Receive",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b29b574848daf13d",
        "type": "mqtt in",
        "z": "fbd36c31b09ebd79",
        "name": "Forssa-Listener",
        "topic": "XXXX/Forssa",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25b85988b913b9bf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "849da3f70c4ee8b3",
                "8ddf2f6a00353e0e"
            ]
        ]
    },
    {
        "id": "849da3f70c4ee8b3",
        "type": "file",
        "z": "fbd36c31b09ebd79",
        "name": "",
        "filename": "XXXX/test.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 430,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "381769d1815f3936",
        "type": "switch",
        "z": "fbd36c31b09ebd79",
        "name": "RouteID",
        "property": "payload.ID",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "XXXX_Team_10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 720,
        "y": 240,
        "wires": [
            [
                "dde333c6bc2654bd",
                "782663e30834484d",
                "a2b6cbdff9b57574",
                "3ec99fd86d75710d"
            ]
        ]
    },
    {
        "id": "dde333c6bc2654bd",
        "type": "change",
        "z": "fbd36c31b09ebd79",
        "name": "Forssa-Listener-Date",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 300,
        "wires": [
            [
                "ce3b1ee6637a45bb",
                "b332a461c12ddcf1"
            ]
        ]
    },
    {
        "id": "a2b6cbdff9b57574",
        "type": "debug",
        "z": "fbd36c31b09ebd79",
        "name": "Forssa-Listener-Debug-msg.payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 120,
        "wires": []
    },
    {
        "id": "8ddf2f6a00353e0e",
        "type": "json",
        "z": "fbd36c31b09ebd79",
        "name": "Forssa-Listener-JSON-JVscript",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "381769d1815f3936"
            ]
        ]
    },
    {
        "id": "ce3b1ee6637a45bb",
        "type": "ui_text",
        "z": "fbd36c31b09ebd79",
        "group": "0429db559d1d965f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "XXXX-Dashboard",
        "label": "Date:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1240,
        "y": 240,
        "wires": []
    },
    {
        "id": "782663e30834484d",
        "type": "change",
        "z": "fbd36c31b09ebd79",
        "name": "Forssa-Listener-Time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Time",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 440,
        "wires": [
            [
                "4e0fa61c4d4e6a47",
                "5dc71411e2e3ebb7"
            ]
        ]
    },
    {
        "id": "4e0fa61c4d4e6a47",
        "type": "ui_text",
        "z": "fbd36c31b09ebd79",
        "group": "0429db559d1d965f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "XXXX-Dashboard",
        "label": "Time:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1280,
        "y": 400,
        "wires": []
    },
    {
        "id": "3ec99fd86d75710d",
        "type": "change",
        "z": "fbd36c31b09ebd79",
        "name": "Forssa-Listener-Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 560,
        "wires": [
            [
                "38a914f57eb95487",
                "e070cdf4c2a82711",
                "3004fc68dfc11550"
            ]
        ]
    },
    {
        "id": "38a914f57eb95487",
        "type": "ui_text",
        "z": "fbd36c31b09ebd79",
        "group": "0429db559d1d965f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "XXXX-Dashboard",
        "label": "Temperature:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1280,
        "y": 500,
        "wires": []
    },
    {
        "id": "e070cdf4c2a82711",
        "type": "ui_gauge",
        "z": "fbd36c31b09ebd79",
        "name": "Forssa-Listener-Temperature-Gauge",
        "group": "0429db559d1d965f",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "40",
        "className": "",
        "x": 1330,
        "y": 620,
        "wires": []
    },
    {
        "id": "b332a461c12ddcf1",
        "type": "ui_template",
        "z": "fbd36c31b09ebd79",
        "group": "cc0e2621a8ac7330",
        "name": "Forssa-Listener-Widget-msg.payload",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n    <p>Date: </p>\n    <font color=\"red\">\n        <b>{{msg.payload}}</b>\n    </font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1310,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "5dc71411e2e3ebb7",
        "type": "ui_template",
        "z": "fbd36c31b09ebd79",
        "group": "cc0e2621a8ac7330",
        "name": "Forssa-Listener-Widget-msg.payload",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n    <p>Time: </p>\n    <font color=\"green\">\n        <b>{{msg.payload}}</b>\n    </font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1330,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3004fc68dfc11550",
        "type": "ui_template",
        "z": "fbd36c31b09ebd79",
        "group": "cc0e2621a8ac7330",
        "name": "Forssa-Listener-Widget-msg.payload",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n    <p>Temperature: </p>\n    <font color=\"orange\">\n        <b>{{msg.payload}}</b>\n    </font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1330,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "25b85988b913b9bf",
        "type": "mqtt-broker",
        "name": "HAMK",
        "broker": "iot.XXXX ",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0429db559d1d965f",
        "type": "ui_group",
        "name": "[XXXX] Team-10",
        "tab": "c92adbabf5ce1faa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc0e2621a8ac7330",
        "type": "ui_group",
        "name": "Home-1",
        "tab": "cec3395ebbf356a5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c92adbabf5ce1faa",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cec3395ebbf356a5",
        "type": "ui_tab",
        "name": "Home-1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]